
<div class="container" style="padding:10px 20px;">

    <div class="row clear">
      <div class="col-md-3 col-sm-6 col-xs-12 ">
       <div class="count4">
        <i class="glyphicon glyphicon-usd bg2"></i>
        <span>
         <p class="price">250,000.00</p>
         <p class="title">日销售额(元)</p>
     </span>
 </div>

</div>
<div class="col-md-3 col-sm-6 col-xs-12">
   <div class="count4">
    <i class="glyphicon glyphicon-hourglass bg1"></i>
    <span>
     <p class="price">2,500.00</p>
     <p class="title">日利润(元)</p>
 </span>

</div>

</div>
<div class="col-md-3 col-sm-6 col-xs-12">
   <div class="count4">
    <i class="glyphicon glyphicon-shopping-cart bg3"></i>
    <span>
     <p class="price">25,000</p>
     <p class="title">日销售量(单)</p>
 </span>

</div>


</div>
<div class="col-md-3 col-sm-6 col-xs-12">
   <div class="count4">
    <i class="glyphicon glyphicon-leaf bg4"></i>
    <span>
     <p class="price">25</p>
     <p class="title">退货金额(元)</p>
 </span>

</div>


</div>
</div>

<div class="row clearfix" style="margin-top: 30px;">
	<div class="col-md-6 col-sm-6 col-xs-12">
       <div id="daycount" style="width: 98%;height:500px;box-shadow: 0 2px 4px #CCD0D7;background: #FFFFFF;padding: 10px;"></div>

   </div>	
   <div class="col-md-6 col-sm-6 col-xs-12">
       <div id="daytop" style="width: 98%;height:500px;box-shadow: 0 2px 4px #CCD0D7;background: #FFFFFF;padding: 10px;"></div>
   </div>	

   <div class="col-md-6 col-sm-6 col-xs-12">
       <div id="monthcount" style="width: 98%;height:500px;box-shadow: 0 2px 4px #CCD0D7;background: #FFFFFF;padding: 10px;margin-top: 10px; "></div>
   </div>	


   <div class="col-md-6 col-sm-6 col-xs-12">
       <div id="spcount" style="width: 98%;height:500px;box-shadow: 0 2px 4px #CCD0D7;background: #FFFFFF;padding: 10px; margin-top: 10px"></div>
   </div>	

</div>


</div>
