<include file="Public:header" />
<script type="text/javascript" src="__MANAGE__/js/pinying.js"></script>
<div class="container">
	<div class="row" style="margin-top: 20px;padding: 20px;">
		<form class="layui-form layui-form-pane">
			<div class="layui-col-sm9">
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品名称</label>
			      <div class="layui-input-inline">
			        <input id="txtChinese" name="name" onKeyUp="query()" lay-verify="required" autocomplete="off" placeholder="请输入商品名称" class="layui-input" type="text" value="{$info.name|default=''}">
			     </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品品牌</label>
			      <div class="layui-input-inline">
				      	<input id="autoload" dataurl="{:URL('goods/getpp')}" lay-verify="required" autocomplete="off" placeholder="请输入商品品牌" class="layui-input" type="text" {notempty name="$info.shangpinppid"}value="{$info.shangpinppid|getpp|default=''}"{/notempty} >
			      		<div class="autobox"></div><input type="hidden" name="shangpinppid" id="shangpinppid" value="{$info.shangpinppid|default=''}" />
			      	
			      </div>
			    </div>
			</div>

			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品规格</label>
			      <div class="layui-input-inline">
			        <input name="shangpingg" lay-verify="required" autocomplete="off" placeholder="请输入商品规格" class="layui-input" type="text" value="{$info.shangpingg|default=''}">
			      </div>
			    </div>
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品分类</label>
			      <div class="layui-input-inline">
			          	<input id="autoload" dataurl="{:URL('goods/getkinds')}" lay-verify="required" autocomplete="off" placeholder="请输入商品分类" class="layui-input" type="text" {notempty name="$info.shangpinflid"}value="{$info.shangpinflid|getfl|default=''}"{/notempty}>
						<div class="autobox"></div><input type="hidden" name="shangpinflid" id="shangpinflid" value="{$info.shangpinflid|default=''}" />
						 
			      </div>
			    </div>

			</div>			
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品条形码</label>
			      <div class="layui-input-inline">
			        <input id="code" name="code" lay-verify="required"  autocomplete="off" placeholder="请输入商品条形码" class="layui-input" type="text" value="{$info.code|default=''}">
			      </div>
			    </div>

			    <div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>商品单位</label>
			      <div class="layui-input-inline">
			        <input id="autoload" dataurl="{:URL('goods/getdw')}" lay-verify="required" autocomplete="off" placeholder="请输入商品单位" class="layui-input" type="text" {notempty name="$info.danwei"} value="{$info.danwei|getdw|default=''}"{/notempty}>
			      	<div class="autobox"></div><input type="hidden" name="danwei" id="danwei" value="{$info.danwei|default=''}" />
			      </div>
			    </div>
			</div>			
			<div class="layui-form-item"> 				
				
			      <label class="layui-form-label">生产厂家</label>
			      <div class="layui-input-block">
			        <input name="changjia" lay-verify="" autocomplete="off" placeholder="厂家" class="layui-input" type="text" value="{$info.changjia|default=''}">			      	
			      </div>
			    

			</div>
			<div class="layui-form-item"> 
				
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>保质期</label>
			      <div class="layui-input-inline">
			        <input name="baozhiq" lay-verify="required|number" autocomplete="off" placeholder="保质期" class="layui-input" type="text" value="{$info.baozhiq|default=''}">
			      	<label class="lableright">天</label>
			      </div>
			    </div>
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>数量</label>
			      <div class="layui-input-inline">
			        <input name="shuliang" lay-verify="required|number" autocomplete="off" placeholder="最小单位" class="layui-input" type="text" value="{$info.shuliang|default=''}">			      	
			      </div>
			    </div>
			</div>
			<div class="layui-form-item">				
			      <label class="layui-form-label">商品描述</label>
			      <div class="layui-input-block">
						<textarea name="shangpinms" class="layui-textarea">{$info.shangpinms|default=''}</textarea>
			      </div>
			</div>
			<div class="layui-form-item">				
			      <label class="layui-form-label">商品备注</label>
			      <div class="layui-input-block">
			        <input  name="beizhu" lay-verify="" autocomplete="off" placeholder="请输入商品备注" class="layui-input" type="text" value="{$info.beizhu|default=''}">
			      </div>
			</div>
			</div>
			<div class="layui-col-sm3 text-center">
				<div class="layui-form-item">
			   <a href="javascript:;" id="sptpss" class="sptp upimgbox" onclick="upimg('#sptp');"  title="商品图片">{notempty name="$info.id"}<img src="__ROOT__{$info.id|getsptp}" width="100%" >{else /}商品图片{/notempty}</a>
			   <input type="hidden" id="sptpImg" lay-verify="filetu" name="sptpImg" {notempty name="$info.id"}value="{$info.id|getsptp|default='0'}" {/notempty}/>
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block text-center"><a class="layui-btn" lay-submit lay-filter="send" dataurl="{:URL('goods/addgoods')}">立即提交</a>  </div>
			</div>
				<input type="hidden" name="pinyinm" id="py" value="{$info.pinyinm|default=''}" />				
				{notempty name="info.id"}
					<input type="hidden" name="id" value="{$info.id|default=''}" />			
				{/notempty}

		</form>			
			<button id="sptp" class="layui-btn demoMore hidden" lay-data="{ url: '{:URL('upload/index')}' }">商品图片</button>
	</div>
</div>
<script>

	function upimg(obj){$(obj).click();};
$('body').on('keyup','#autoload',function(){		
		var _this=$(this), keywords = $(this).val(),url=$(this).attr('dataurl');
		if (keywords=='') { _this.next().hide(); return };
		$.ajax({
			type:"get",
			url:url,
			data:{keys:keywords},
			beforeSend:function(){
				_this.next().append("<div>正在加载...</div>");				
			},
			success:function(res){
				_this.next().empty().show();				
				if(res.data==''){
					_this.val('');
					_this.next().append('<div class="error">没有数据  "' + keywords + '"请先添加</div>');
				}
				
				$.each(res.data, function(){
					_this.next().append('<div class="click_work" dataarr="'+ 	this.id +'">'+ this.name +'</div>');
				})
			},
			error:function(){
				$('.autobox').empty().show();
				$('autobox').append('<div class="click_work">失败 "' + keywords + '"</div>');
				
			}
		});

});

function query(){
    var str = document.getElementById("txtChinese").value.trim();
    if(str == "") return;
    var arrRslt = makePy(str);
    document.getElementById("py").value=arrRslt;//清空下拉框    
}
</script>

<include file="Public:footer" />
