
    <link rel="stylesheet" href="__ZTREE__/bootstrapStyle.css" type="text/css">

    <script type="text/javascript" src="__ZTREE__/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="__ZTREE__/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="__ZTREE__/jquery.ztree.exedit.js"></script>

    <SCRIPT type="text/javascript">
 var setting = {
			view: {
				addHoverDom: addHoverDom,
				removeHoverDom: removeHoverDom,
				selectedMulti: false
			},
			edit: {
				enable: true,
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				beforeDrag: beforeDrag,
				beforeEditName: beforeEditName,
				beforeRemove: beforeRemove,
				beforeRename: beforeRename,
				onRemove: onRemove,				
				onRename: onRename,
				onDblClick: zTreeonDblClick

			}
		};

		var zNodes ={$kinds};
		var className = "dark";
		function beforeDrag(treeId, treeNodes) {
			return false;
		}
		function beforeEditName(treeId, treeNode) {
			className = (className === "dark" ? "":"dark");			
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			zTree.selectNode(treeNode);
			zTree.editName(treeNode);
			return false;
		}
		function beforeRemove(treeId, treeNode) { 
			return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
		}

		function beforeRename(treeId, treeNode, newName, isCancel) {
			className = (className === "dark" ? "":"dark");
			if (newName.length == 0) {
				setTimeout(function() {
					var zTree = $.fn.zTree.getZTreeObj("treeDemo");
					zTree.cancelEditName();
					layer.msg("节点名称不能为空",{icon:2});
				}, 0);
				return false;
			}
			return true;
		}
		

		var newCount = 1;
		function addHoverDom(treeId, treeNode) {
			var maxid="{:getmaxid()}";
			var sObj = $("#" + treeNode.tId + "_span");
			if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
			var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
				+ "' title='add node' onfocus='this.blur();'></span>";
			sObj.after(addStr);
			var btn = $("#addBtn_"+treeNode.tId);
			if (btn) btn.bind("click", function(){
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				zTree.addNodes(treeNode, {id:(parseInt(maxid) + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
				ajaxpost('',"new node"+(newCount++),treeNode.id,"{:URL('Goods/addkinds')}");
				
				return false;
			});
		};
		function removeHoverDom(treeId, treeNode) {
			$("#addBtn_"+treeNode.tId).unbind().remove();
		};
		
		function onRename(e, treeId, treeNode, isCancel) {
			if(!isCancel){
				ajaxpost(treeNode.id,treeNode.name,'0',"{:URL('Goods/editkinds')}");
			}
		}
		function onRemove(e, treeId, treeNode) {
			
			ajaxpost(treeNode.id,'0','0',"{:URL('Goods/delkinds')}");

		}
		function ajaxpost(id,name,pid,url){			
			if(name){
				$.ajax({
					type:"post",
					url:url,//"{:URL('Goods/editkinds')}",
					data:{id:id,name:name,pid:pid},
					success:function(res){
						layer.msg(res.msg,{icon:res.status});
						if(res.status>1){$('#del').val('1');} //如果删除不成功，也要显示菜单
					},error:function(index){
						layer.msg('网络错误',{icon:2});
						return false;
					}
				});	
			}
		}
		function zTreeonDblClick(event, treeId, treeNode) {
			var val =[],b;
			if(treeNode.children){
				$.each(treeNode.children, function(index,item) {
					val.push(item.id);
					if(item.children){
						$.each(item.children, function(index,child) {
							val.push(child.id);
						});
					}
				});
				b = val.join(",");
			}else{
				b=treeNode.id;
			}
			
			$('#spflid').val(b);
			$('#submit').click();
		};
		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);

		});
		
       
    </SCRIPT>
<div class="layui-fluid">
	<div class="layui-row">
		

		<div class="layui-col-sm2">
			<fieldset class="layui-elem-field mr-20" id="kindsheight">
			  <legend class="bold">商品类别</legend>
			  <div id="kindsbox" class="layui-field-box" >
				   <ul id="treeDemo" class="ztree"></ul>		
			  </div>
			</fieldset>			
		</div>	
		<div class="layui-col-sm10">
			<div class="layui-col-sm12">
			
			<form id="headform" class="layui-form layui-form-pane" method="get" method="{:URL('goods/index')}">
			<div class="layui-form-item">
				<div class="layui-input-inline"><input type="hidden" id="spflid" name="spflid" class="layui-input" placeholder="商品id"  value="{$idarr}"/></div>
				<div class="layui-input-inline"><input type="text" name="keyword" class="layui-input" placeholder="请输入品名或条码" value="{$key}" /></div>
				<div class="layui-input-inline"><button id="submit" type="submit" name="submit" class="layui-btn" ><i class="fa fa-search"></i>搜索</button></div>
				
				<div class="layui-btn-group f-r mr-10">
					<a class="layui-btn layui-bg-green allstatus" datatype="allon" dataurl='allon'><i class="fa fa-check"></i>	启用</a>
					<a class="layui-btn layui-btn-primary allstatus" datatype="alloff" dataurl='allon'><i class="fa fa-close"></i>禁用</a>
					<a class="layui-btn layui-btn-danger allstatus"  datatype="alldel" dataurl='alldel'><i class="fa fa-trash-o"></i>删除选中</a>
					<a class="layui-btn  add" title="添加商品" dataurl="{:URL('goods/addgoods')}"><i class="fa fa-plus"></i>添加商品</a>

				</div>

			</div>				
			</form>
				
			</div>
	
			<div id="res">
			
			</div>
			
			<table class="layui-table layui-form">
				<thead class="text-center ">
					<th width="20"><input type="checkbox" lay-filter="checkall"  lay-skin="primary" /></th>
					<th width="20">ID</th>
					<th width="140">条码</th>
					<th>商品名称</th>
					<th>分类</th>
					<th width="60">保质期</th>
					<th >状态</th>
					<th width="150">操作</th>
				</thead>
				<tbody>
					{empty  name="$splist"}	
					<tr><td colspan="8">
						<div class="layui-col-sm12 ">
							<h2 class="text-center red f-30"><i class="layui-icon layui-icon-cry" style="font-size: 40px;"></i><br>没有获取到数据</h2>
						</div>
						</td>
					</tr>	
					{/empty}
					{volist name="splist" id="v"}
					<tr>
						<td><input type="checkbox" name="allck[]" value="{$v.id}"  lay-skin="primary" /></td>
						<td>{$v.id}</td>
						<td class="text-center">{$v.code}</td>
						<td>{$v.name}</td>
						<td>{$v.kinds.cpmmodity_type_name}</td>
						<td class="text-center">{$v.baozhiq}天</td>
						<td class="text-center" width="80">							
						      <input {eq name="$v.isdel" value="0"}checked{/eq} name="isdel" dataid="{$v.id}" lay-skin="switch" lay-filter="switch" lay-text="启用|禁用" type="checkbox" class="pb-0 mb-0 mt-10 pt-0">						   					
						</td>
						<td class="text-center">
						  <div class="layui-btn-group">
						    <button class="layui-btn layui-btn-sm add" title="编辑商品" dataurl="{:URL('goods/addgoods',array('id'=>$v.id))}">编辑</button>
						    <button class="layui-btn layui-btn-sm layui-btn-danger del" arrid="{$v.id}" dataurl="{:URL('goods/alldel')}">删除</button>
						  </div>
						</td>
					</tr>
					{/volist}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="8" class="text-right">{$splist->render()}</td>
					</tr>
				</tfoot>
			</table>
			
			
		</div>	
	</div>
</div>
<script type="text/javascript">
	var winH=$(window).height() - 40;
	$('#kindsheight').height(winH);
	//alert(winH);
</script>
