<div class="layui-fluid">
	
	<div class="row" style="margin-top: 5px;">
		<div class="layui-col-sm12">
		<div id="headform"><span class="title">会员等级</span><button class="layui-btn f-r add" title="添加管理员" dataurl="{:URL('member/addgrade')}">添加会员等级</button></div>
			
		</div>

		<table class="table table-bordered">
			<thead>
				<th>ID</th>
				<th>会员等级名称</th>				
				<th>折扣</th>
				<th>是否自动升级</th>
				<th>升级积分值</th>
				<th>有效期</th>
				<th width="200">操作</th>
			</thead>
			<tbody>
				{volist name="adminlist" id="v"}
				<tr>
					<td>{$v.number_class}</td>
					<td>{$v.number_class_name}</td>
					<td >{$v.number_discount}</td>
					<td>{eq name="$v.period_validity_flag" value="1"}是{else/}否{/eq}</td>
					<td>{$v.up_amount}</td>
					<td>{eq name="$v.period_validity_flag" value="1"}永久{else/}1年{/eq}</td>
					
					<td id="usebtn" class="text-center">

						<button class="btn btn-sm btn-default add" title="修改菜单" dataurl="{:URL('member/addgrade',array('id'=>$v['number_class']))}">修改</button>
						<button class="btn btn-sm btn-danger del" arrid="{$v.number_class}" dataurl="{:URL('member/delgrade')}">删除</button>
					</td>
				</tr>
					
				{/volist}
			</tbody>
			
		</table>
		<div class="text-right">
			{$adminlist->render()}
		</div>
	</div>
