<include file="Public:header" />
<div class="container">
	<div class="row" style="margin-top: 20px;padding: 20px;">
		<form class="layui-form layui-form-pane">
			<div class="layui-form-item"> <label class="layui-form-label"><font color="red" size="+2">*</font>手机号码</label>
				<div class="layui-input-block"> <input name="TEL" autocomplete="off" lay-verify="required|tel" {notempty name="$info.TEL"}disabled{/notempty}  placeholder="请输入手机号码，用于企业后台登录账号" class="layui-input" type="text" value="{$info.TEL|default=''}"> </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>企业密码</label>
			      <div class="layui-input-inline">
			        <input name="Store_pass" {empty name="$info.Store_pass"}lay-verify="required|pass"{/empty}autocomplete="off" placeholder="请输入企业密码" class="layui-input" type="text" value="">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">用户状态</label>
			      <div class="layui-input-inline">
			      	<input name="Statue" title="启用" {eq name="$info.Statue|default=''" value="1"}checked{/eq}  type="checkbox" value="1">
			      </div>
			    </div>
			</div>			<div class="layui-form-item"> <label class="layui-form-label"><font color="red" size="+2">*</font>企业名称</label>
				<div class="layui-input-block"> <input name="store_name" autocomplete="off" lay-verify="required"  placeholder="请输入企业名称" class="layui-input" type="text" value="{$info.store_name|default=''}"> </div>
			</div>
			<div class="layui-form-item"> <label class="layui-form-label">所属地区</label>
				<div class="layui-input-inline"> 
				<select id="prov" name="position_id" lay-filter="prov"></select>
				</div>
				<div  class="layui-input-inline"> 
				<select id="city" name="position_id1" lay-filter="city"></select>
				</div>
				<div  class="layui-input-inline"> 
				<select id="area" name="position_id2"></select>
				</div>
			</div>
			<div class="layui-form-item"> <label class="layui-form-label"><font color="red" size="+2">*</font>企业地址</label>
				<div class="layui-input-block"> <input name="Address" autocomplete="off" lay-verify="required"  placeholder="请输入企业地址" class="layui-input" type="text" value="{$info.Address|default=''}"> </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>联系人</label>
			      <div class="layui-input-inline">
			        <input name="Lianxir" lay-verify="required|zh" autocomplete="off" placeholder="请输入企业联系人" class="layui-input" type="text" value="{$info.Lianxir|default=''}">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>邮箱</label>
			      <div class="layui-input-inline">
			        <input name="email" lay-verify="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input" type="text" value="{$info.email|default=''}">
			      </div>
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">开通功能</label>
			    <div class="layui-input-block">
			      <input name="My_shop" title="开通店铺"   {eq name="$info.My_shop|default=''" value="1"}checked{/eq}  type="checkbox" value="1">
			      <input name="Micro_channel_store" title="开通微店" {eq name="$info.Micro_channel_store|default=''" value="1"}checked{/eq}  type="checkbox" value="1">
			      <input name="Micro_channel_infor" title="开通微信信息" {eq name="$info.Micro_channel_infor|default=''" value="1"}checked{/eq} type="checkbox" value="1">
			      <input name="Short_message" title="开通手机短信" {eq name="$info.Short_message|default=''" value="1"}checked{/eq} type="checkbox" value="1">
			      <input name="empty" title="数据库操作权限" {eq name="$info.empty|default=''" value="1"}checked{/eq} type="checkbox" value="1">
			      
			    </div>
			</div>			
			<div class="layui-form-item"> <label class="layui-form-label"><font color="red" size="+2">*</font>短信条数</label>
				<div class="layui-input-inline"> <input name="message_amount" autocomplete="off" lay-verify="required|num"  placeholder="请输入短信条数" class="layui-input" type="text" value="{$info.message_amount|default='0'}"> </div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label"><font color="red" size="+2">*</font>子门店数</label>
			      <div class="layui-input-inline">
			        <input name="add_number" lay-verify="required|num" autocomplete="off" placeholder="请输入子门店数量" class="layui-input" type="text" value="{$info.add_number|default='1'}">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">纳税识别号</label>
			      <div class="layui-input-inline">
			        <input name="Nashuirsbh" lay-verify="" autocomplete="off" placeholder="请输入纳税人识别号" class="layui-input" type="text" value="{$info.Nashuirsbh|default=''}">
			      </div>
			    </div>
			</div>
			<div class="layui-form-item"> <label class="layui-form-label">软件版本</label>
				<div class="layui-input-block"> <input name="version" autocomplete="off" lay-verify=""  placeholder="请输入软件版本号" class="layui-input" type="text" value="{$info.version|default=''}"> </div>
			</div>
			<div class="layui-form-item"> <label class="layui-form-label"><font color="red" size="+2">*</font>证件上传</label>
				<div class="uploadimgbox">
					<a href="javascript:;" class="yyzz" onclick="upimg('#yyzz');"  title="营业执照">{notempty name="$info.yyzzImg"}<img src="__ROOT__{$info.yyzzImg}" width="100%" >{else /}营业执照{/notempty}</a>
					<a href="javascript:;" class="sfz" onclick="upimg('#sfz');" title="身份证">{notempty name="$info.sfzImg"}<img src="__ROOT__{$info.sfzImg}" width="100%" >{else /}身份证{/notempty}</a>
					<input type="hidden" id="yyzzImg" lay-verify="fileimg" name="yyzzImg" value="{$info.yyzzImg|default=''}"/>
					<input type="hidden" id="sfzImg" lay-verify="fileimg" name="sfzImg" value="{$info.sfzImg|default=''}"/>
				</div>
			</div>
 
			<div class="layui-form-item">
				<div class="layui-inline">
			      <label class="layui-form-label">创建时间</label>
			      <div class="layui-input-inline">
			        <input id="time-start" name="create_date" lay-verify="required" autocomplete="off" placeholder="请输入用户创建时间" class="layui-input" type="text" value="{$info.create_date|default=times()}">
			      </div>
			    </div>
			    <div class="layui-inline">
			      <label class="layui-form-label">失效时间</label>
			      <div class="layui-input-inline">
			        <input id="time-end" name="End_date" lay-verify="required" autocomplete="off" class="layui-input"  placeholder="请输入用户失效时间" type="text" value="{$info.End_date|default='2099-01-01'}">
			      </div>
			    </div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block text-center"><a class="layui-btn" lay-submit lay-filter="send" dataurl="{:URL('business/addbus')}">立即提交</a>  </div>
			</div>

				{notempty name="info.TEL"}
					<input type="hidden" name="id" value="{$info.TEL|default=''}" />			
				{/notempty}

		</form>			
		<button id="yyzz" class="layui-btn demoMore hidden" lay-data="{ url: '{:URL('upload/index')}' }">营业执照</button>
		<button id="sfz" class="layui-btn demoMore hidden" lay-data="{ url: '{:URL('upload/index')}' }">身份证</button>
	</div>
</div>
<script>
	var arrdata='{$diqu}';
	function upimg(div){$(div).click();}
	function prov(arr,fid,ck){
		var html='<option value="">请选择</option>';
		var data=JSON.parse(arr);
		$.each(data, function(key,val) {
			if(val.fuid==fid){
				if(val.ID==ck){var sed='selected';}
			html += '<option value="'+val.ID+'" '+sed+'>'+val.name+'</option>';
			}
		});
		return html;
	};	
layui.use(['form', 'layer','laydate','element'], function() {
	var $ = layui.jquery,		
		form = layui.form,
		layer = layui.layer,
		laydate = layui.laydate,
		element = layui.element;
		

	form.on('select(prov)', function(data){			
		$('#city').html(prov(arrdata,data.value));
		//layer.msg(data.value);
		form.render();
	});
	form.on('select(city)', function(data){			
		$('#area').html(prov(arrdata,data.value));
		//layer.msg(data.value);
		form.render();
	});

    


});
var pid='{$info.position_id|default=""}', pid1='{$info.position_id1|default=""}',pid2='{$info.position_id2|default=""}';
$('#prov').html(prov(arrdata,0,pid));
$('#city').html(prov(arrdata,pid,pid1));
if(pid1>0) $('#area').html(prov(arrdata,pid1,pid2));
</script>

<include file="Public:footer" />
