<div class="layui-fluid">
	<div class="layui-row" style="margin-top: 5px;">
		<div class="layui-col-sm12 pb-0">		
		<form id="headform" class="layui-form layui-form-pane" method="get" method="{:URL('business/index')}">
			<div class="layui-form-item"> <label class="layui-form-label">地区选择</label>
				<div class="layui-input-inline"> 
				<select id="prov" name="position_id" lay-filter="prov"></select>
				</div>
				<div  class="layui-input-inline"> 
				<select id="city" name="position_id1" lay-filter="city"></select>
				</div>
				<div  class="layui-input-inline"> 
				<select id="area" name="position_id2"></select>
				</div>
				<div class="layui-input-inline"><input type="text" name="keyword" class="layui-input" placeholder="请输入企业名称" /></div>
				<div class="layui-input-inline"><button type="submit" name="submit" class="layui-btn" >搜索</button></div>
				
				<a class="layui-btn f-r add" title="添加企业" dataurl="{:URL('business/addbus')}">添加企业</a>
			</div>				
		</form>
			
		</div>
		{empty  name="$userlist"}	
		<div class="layui-col-sm12 ">
			<h2 class="text-center red f-30"><i class="layui-icon layui-icon-cry" style="font-size: 40px;"></i><br>没有获取到数据</h2>
		</div>	
		{/empty}
		{volist name="userlist" id="v"}
		<div id="blist" class="layui-col-sm3">
			<div class="md-5 pd-20 {eq name='$v.Statue' value='1'}layui-bg-green {else/}layui-bg-gray{/eq} ">
				<h2 class="mb-10 add" title="查看店铺" dataurl="{:URL('business/view',array('tel'=>$v['TEL']))}">{$v.store_name}</h2>
				<p class="mb-10"><i class="fa fa-user mr-5"></i>联系人：{$v.Lianxir}</p>
				<p class="mb-10"><i class="fa fa-home mr-5"></i>企业地址：{$v.Address}</p>
				<p class="mb-10"><i class="fa fa-phone mr-5"></i>联系电话：{$v.TEL}</p>				
			</div>
			<div class="actbox">
				
				<div class="layui-btn-group">
					{eq name='$v.Statue' value='1'}
					<button class="layui-btn layui-btn-sm layui-bg-gray add" title="修改企业" dataurl="{:URL('business/addbus',array('tel'=>$v['TEL']))}"><i class="fa fa-edit"></i></button>					
					<button class="layui-btn layui-btn-sm layui-bg-red status " title="禁用" dataid="{$v.TEL}"><i class="fa fa-close"></i></button>
					{else/}
					<button class="layui-btn layui-btn-sm layui-bg-green status" title="启用" dataid="{$v.TEL}"><i class="fa fa-check"></i></button>
					{/eq}
				</div>
			</div>
			
		</div>
		{/volist}
		
		<div class="layui-col-sm12 text-right">
			{$userlist->render()}
		</div>
	</div>
</div>
<script>
	var arrdata='{$diqu}';
	function upimg(div){$(div).click();}
	function prov(arr,fid){
		var html='<option value="">请选择</option>';
		var data=JSON.parse(arr);
		$.each(data, function(key,val) {
			if(val.fuid==fid){
			html += '<option value="'+val.ID+'">'+val.name+'</option>';
			}
		});
		return html;
	};	
layui.use(['form', 'layer','element'], function() {
	var $ = layui.jquery,		
		form = layui.form,
		layer = layui.layer,	
		element = layui.element;
		

	form.on('select(prov)', function(data){			
		$('#city').html(prov(arrdata,data.value));
		//layer.msg(data.value);
		form.render();
	});
	form.on('select(city)', function(data){			
		$('#area').html(prov(arrdata,data.value));
		//layer.msg(data.value);
		form.render();
	});

});
$('#prov').html(prov(arrdata,0));
</script>