		<script src='__PUBLIC__/nprogress/nprogress.js'></script>
		<script src="__BOOTSTRAP__/dist/js/bootstrap.min.js"></script>
		<script src="__MANAGE__/build/js/custom.js"></script>
		<script src="__MANAGE__/js/jquery.nicescroll.js"></script>

		<script type="text/javascript">
			var statusurl ="__ROOT__{$md_name}/{$ct_name}/status";
			var posturl ="__ROOT__{$md_name}/{$ct_name}/";
			var rootimg = "";
			var access="{$access}";
			$('body #kindsheight').niceScroll({
			    cursorcolor: "#ccc",//#CC0071 光标颜色
			    cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
			    touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
			    cursorwidth: "5px", //像素光标的宽度
			    cursorborder: "0", // 游标边框css定义
			    cursorborderradius: "5px",//以像素为光标边界半径
			    autohidemode: false //是否隐藏滚动条
			});		
		</script>
		<script src="__MANAGE__/js/common.js" type="text/javascript" charset="utf-8"></script>

		
	</body>

</html>