<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>贵州小草商务有限公司</title>
		<link href="__BOOTSTRAP__/dist/css/bootstrap.css" rel="stylesheet">
		<link href="__FONT__/font-awesome.min.css" rel="stylesheet">
		<link href="__MANAGE__/build/css/custom.css" rel="stylesheet">
		<link href='__PUBLIC__/nprogress/nprogress.css' rel='stylesheet' />
		<link rel="stylesheet" type="text/css" href="__MANAGE__/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css"/>
		<script src="__MANAGE__/js/jquery.min.js"></script>
		<script src="__LAYUI__/layui.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body class="nav-md">